<h1>{{title}}</h1>

<form method="POST">
    <fieldset>
        <label for="courseCode" class="col-3">Course Code: </label>
        <input name="courseCode" id="courseCode" type="text" required>
    </fieldset>

    <button class="offset-3 btn btn-primary">Save</button>
</form>