<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- bootstrap theme from https://bootswatch.com  -->
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <!-- custom js -->
      <script type="text/javascript" src="/javascripts/scripts.js"></script>
  </head>
  <body>
    <!-- bootstrap nav bar from https://w3cschool.com -->
  <nav class="navbar navbar-expand-sm bg-light">
    <!-- Links -->
    <ul class="navbar-nav">
      <a class="navbar-brand" href="/">Project Tracker</a>
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/projects">Projects</a>
      </li>
      {{#if user}}
        <li class="nav-item">
          <a class="nav-link" href="/courses/add">Courses</a>
        </li>
      {{/if}}
    </ul>
    <ul class="navbar-nav ml-auto">
      {{#if user}}
      {{!-- user is authenticated  --}}
        <li class="nav-item">
          <a class="nav-link" href="#">{{user.username}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout" >Logout</a>
        </li>
      {{else}}
        {{!-- user is anonymous  --}}
          <li class="nav-item">
            <a class="nav-link" href="/register">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>
      {{/if}}

    </ul>
  </nav>
    {{{body}}}
  </body>
</html>
